name: Deploy to Minikube

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Debug workspace
      run: |
        pwd
        ls -la

    - name: Set kubectl context
      run: |
        kubectl config use-context minikube

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f cleaned_yaml/nginx/

